<footer id="foot">
	<a href="/terms" class="navlink">{{tr "nav_tos"}}</a>・<a href="/privacy" class="navlink">{{tr "nav_privacy"}}</a><span class="desktop-only">・</span><br class="mobile-only"><a href="/terms#tokusho" class="navlink">特定法表記</a>
</footer>