		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{render "_style" $}}
		<link rel="icon" href="https://cdn.inter.tube/static/tube-red-32.png">
		<link rel="apple-touch-icon" sizes="180x180" href="https://cdn.inter.tube/static/tube-red-180.png">
