:root {
	--bg: white;
	--fg: black;
	--hi-bg: #f7f7f7;
	--hi-fg: black;
	--button-bg: #efefef;
	--links: blue;
	--nav-bg: white;
	--nav-border: lightgray;
	--border: lightgray;
	--frost-bg: #f7f7f7b3;
	--frost-fallback: #f7f7f7f0;
	--frost-filter: blur(6px);
	--logo: black;
}