<!doctype html>
<html>
	<head>
		{{render "_head" $}}
		<title>{{tr "titleprefix"}}{{tr "forgot_title"}}</title>
	</head>
	<body>
		<main>
			<h2>{{tr "forgot_title"}}</h2>
			<p>{{tr "forgot_sent" $.Email}}</p>
		</main>
	</body>
</html>