<!doctype html>
<html>
	<head>
		{{render "_head" $}}
		<title>{{tr "titleprefix"}}{{tr "forum_title"}}</title>
	</head>
	<body>
		{{render "_nav" $}}
		<main>
			<h2>{{tr "forum_title"}}</h2>
			<p>☛ <a href="https://intertube.thread.zone" target="_blank">inter.tube forum</a></p>
			<p>{{tr "forum_intro"}}</p>
		</main>
	</body>
</html>