<!doctype html>
<html>
	<head>
		{{render "_head" $}}
		<title>{{tr "titleprefix"}}{{tr "settings_title"}}</title>
		<style>
			table {
				min-width: 30%;
			}
			tr td:first-child {
				/*width: 12em;*/
			}
			ul.actions {
				/*list-style: none;*/
			}
		</style>
	</head>
	<body>
		{{render "_nav" $}}
		<main>
			<h2>{{tr "settings_changepass"}}</h2>
			<!-- <h3>{{tr "settings_password"}}</h3> -->
			{{if $.Success}}
				<p>✔️ {{tr "settings_passchanged"}}</p>
			{{end}}
			<p class="error-msg">{{$.ErrorMsg}}</p>
			<form action="/settings/password" method="POST">
				<table>
					<tbody>
						<tr>
							<td>{{tr "currentpassword"}}</td>
							<td>
								<input type="password" name="old-password" id="old-password" placeholder="hunter2" autocomplete="current-password" required>
							</td>
						</tr>
						<tr>
							<td>{{tr "newpassword"}}</td>
							<td>
								<input type="password" name="new-password" id="new-password" placeholder="hunter3" autocomplete="new-password" required>
							</td>
						</tr>
						<tr>
							<td>{{tr "newpasswordconfirm"}}</td>
							<td>
								<input type="password" name="new-password-confirm" id="new-password-confirm" placeholder="hunter3" autocomplete="new-password" required>
							</td>
						</tr>
						<tr>
							<td></td>
							<td><input type="submit" value='{{tr "update"}}'></td>
						</tr>
					</tbody>
				</table>
			</form>
			<p>
				← <a href="/settings">{{tr "nav_settings"}}</a>
			</p>
		</main>
	</body>
</html>