<!doctype html>
<html>
	<head>
		{{render "_head" $}}
		<title>{{tr "titleprefix"}}{{tr "tos_title"}}</title>
	</head>
	<body>
		{{render "_nav" $}}
		<main>
			<h2>{{tr "tos_title"}}</h2>
			<p>☛ see also: <a href="/privacy">{{tr "privacy_title"}}</a></p>
			<p>inter.tube is run by one guy. I don't have lawyers or venture capital funding. Our (my) goal is to foster an evironment of mutual respect between us and the users and eliminate as much Bullshit as possible.</p>
			<p>The gist of these terms is: we won't take ownership of your content, you need to be a paying member to retain access, we will do all that we can to Not Be Evil.</p>
			<p>
				<h3>General</h3>
				<ul>
					<li>These terms may change.</li>
					<li>You have to agree to the terms of service to use the site.</li>
					<li>You must be a member to access the site.</li>
					<li>We can't guarantee 100% uptime. In the event of significant downtime (1 day or more), paid users will receive credit for the time the site was inaccessible.</li>
				</ul>
				<h3>Payment</h3>
				<ul>
					<li>If you don't pay for the service, you may lose access to your files until you pay.</li>
					<li>You can cancel your subscription at any time.</li>
					<li>The storage quota provided by plans may be changed. You will be notified on the site.</li>
					<li>Accounts registered after Early Access include a free 14-day trial. After this trial, you must subscribe to access the site. You can cancel your trial at any time. Unless you sign up for a paid plan, you won't be charged.</li>
					<li>If you are unsatisfied with the product, you may request a refund during your first month of service.</li>
					<li>If you exceed your storage quota, you may temporarily lose access to some of your files until you upgrade your plan or delete excess files.</li>
					<li>We will keep your files for at least 2 months after you stop paying, but after that they may be deleted. Ideally, we will keep them as long as possible.</li>
				</ul>
				<h3>Ownership</h3>
				<ul>
					<li>You may not upload files you don't have the rights to.</li>
					<li>You may not upload anything that violates the law.</li>
					<li>Users are completely responsible for their content. We don't claim ownership of any uploaded content. We only use the files in order to provide services to the users that uploaded them.</li>
					<li>You may not abuse the service. This includes denial of service, hacking, accessing other people's accounts or files, etc. However, if you responsibly disclose vulnerabilities we won't punish you; you'll receive some free credits as appreciation for your cooperation.</li>
					<li>You may not share your account if it violates the law with regards to the music you upload.</li>
				</ul>
				<h3>Environment</h3>
				<ul>
					<li>The site requires JavaScript. It works in the latest version of Chrome, Firefox, Safari. Some browsers might not support every feature.</li>
					<li>We can't guarantee support for any device, operating system, program, etc. You are responsible for using something that works. That being said, we'll do our best to support devices within reason.</li>
				</ul>
			</p>
			<h3>Support</h3>
			<p>
				<ul>
					<li>Support is provided on <a href="https://intertube.thread.zone/" target="_blank">the forums</a>. We will try to accomodate questions as soon as possible.</li>
					<li>You can also email me at: greg.roseberry@gmail.com</li>
					<li>The changelog is also available on the forums.</li>
				</ul>
			</p>
			<br>
			<h3 id="tokusho">特定商取引法に基づく表示</h3>
			<p>We are located in Japan. Servers are primarily in Oregon. The following is a notice required by the Specified Commercial Transaction Act.</p>
			<div>
				<table>
					<tr>
						<td>販売業者名</td>
						<td>ローズベリー　グレゴリー</td>
					</tr>
					<tr>
						<td>販売責任者</td>
						<td>ローズベリー　グレゴリー</td>
					</tr>
					<tr>
						<td>サイト</td>
						<td>inter.tube（インターチューブ）<br>https://inter.tube</td>
					</tr>
					<tr>
						<td>所在地</td>
						<td>東京都港区　※詳細については問い合わせください</td>
					</tr>
					<tr>
						<td>商品の名称</td>
						<td>サービス利用料課金</td>
					</tr>
					<tr>
						<td>販売価格</td>
						<td><a href="/buy/">別途ページにて記載しています</a></td>
					</tr>
					<tr>
						<td>連絡先</td>
						<td>greg.roseberry@gmail.com</td>
					</tr>
					<tr>
						<td>お支払方法</td>
						<td>クレジットカード</td>
					</tr>
					<tr>
						<td>引渡し時期</td>
						<td>即時</td>
					</tr>
					<tr>
						<td>返金</td>
						<td>アカウント登録日から一ヶ月以内であれば返金に応じます。問い合わせください。</td>
					</tr>
					<tr>
						<td>コンテンツの閲覧保証ブラウザ</td>
						<td>Chrome / Firefox / Safariの各最新版</td>
					</tr>
				</table>
			</div>
		</main>
		{{render "_foot" $}}
	</body>
</html>